<div class="card" >
  
  <h5 class="card-header">New Task
    <a><img src="https://img.icons8.com/carbon-copy/48/000000/close-window.png" id="form-cancel-btn"/></a>
  </h5>
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="task-title">Email address</label>
        <input type="text" class="form-control" id="task-title" placeholder="Enter email">
        
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <input type="text" class="form-control" id="category" placeholder="Password">
        <small id="category" class="form-text text-muted">Is this task important,urgent or neutral</small>
      </div>
      <div>
        <label for="deadline">Task Deadline</label>
        <input type="date" class="form-control" id="deadline">
      </div>
      <button type="submit" class="btn btn-sm btn-primary" id="submit-task">Save Task</button>
    </form>
  </div>
</div>